html{
    color: white;
    font-family: 'Karla', sans-serif;
}

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    justify-content: space-around;
	flex-wrap: nowrap;
    flex-direction: row;
    margin: 10vh;
}

.coin-message{
    text-align: center;
}

#flip-coin{
    text-align: center;
}

.dice-roll{
    text-align: center;
}

.coin-flip{
    text-align: center;
}

.dice-message{
    text-align: center
}

.banner {
    text-align: center;
    margin: 0 auto;
    padding-top: 0.75rem;
    color: #004772;
    background-color: white;
    height: 15vh;
    font-size: 6vh;
    text-transform: uppercase;
    letter-spacing: .75rem;
    -webkit-clip-path: polygon(
      50% 0%,
      100% 25%,
      100% 75%,
      50% 100%,
      0% 75%,
      0% 25%
    );
    clip-path: polygon(0 0, 100% 0%, 88% 100%, 0% 100%);
  }

body{
    background-color: #004772;
    font-size: 1.4rem;
}

img{
    max-height: 128;
    max-width: 128px;
}

.hidden{
    display: none;
}

.btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4.0rem;
    display: inline-block;
    margin: 1rem;
    font-size: 2rem;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}

.btn:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 1.0rem 2rem rgba(0,0,0.2);
    
}

.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0.2);
}